<h1 class="text-center"><%= book.title%></h1>
<section>
    <div class="row">
        <div class="col-md-12">
            <p><%= book.description%></p>
            <a href="#" class="btn btn-success"><%= book.author%></a>
            <hr>
            <a href="/books" class="btn btn-primary">Go to All Books</a>
        </div>
    </div>
</section>