<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- importing navbar -->
    <!-- Navbar Start -->
    <header>
          <%- include('partials/navbar')%>  
    </header>

    <!-- Navar End -->
    <!-- Main Content Start -->
    <main class="container">
        <%- include('content/' + content)%>
    </main>
    <!-- MAin Content End -->
    


    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>